<app-navbar></app-navbar>
<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg6.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <h3 class="title">Commander dans des restaurants</h3>
                    <form class="form" method="" action="">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="Nom du resto" class="form-control" [(ngModel)] = "nom" name="nom"  />
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="Specialite" class="form-control" [(ngModel)]="specialite" name="specialite" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="Lieu" class="form-control" [(ngModel)]="lieu" name="lieu" />
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-round btn-lg" (click)="Rechercher()" >Rechercher</button>
                    </form>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="title text-center">Restaurants disponibles</h4>
                    <div class="row">
                        <div class="col-md-4 ml-auto col-xl-6 mr-auto">
                            <div class="card text-center" *ngFor="let resto of restos">
                                <div class="card-header mt-2">
                                    {{resto.nomResto}}
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-7">
                                            <div class="img-space">
                                                <img [src]="resto.logo" width="200px"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-lg-3">
                                            <p *ngFor="let plats of resto.plat">{{plats.nom}}</p>
                                        
                                        <a href="{{'/examples/plat/'+resto._id}}" class="btn">Explorer</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-muted mb-2">
                                    {{resto.adresse}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
                        <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                 Rajerison Lalao Zinah
            </div>
        </div>
    </footer>
</div>
