<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-3">
            <nav class="nav flex-column">
                <a class="nav-link active" href="/ekaly/livreurs">Gestion livreurs</a>
                <a class="nav-link " href="/ekaly/restos">Gestion restos</a>
                <a class="nav-link" href="/ekaly/benefice">Benefice</a>
            </nav>
        </div>
        
        <div class="col-6">
            <div class="table-responsive">
                <table class="table table-shopping" ng-init="total=0">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th></th>
                            <th>Lieu de livraison</th>
                            <th> Plats</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let commande of commandes; let i=index">
                            <td>{{i+1}}</td>
                            <td>
                                <div class="img-container">
                                    <img src="" alt="..." width="20px">
                                </div>
                            </td>
                            <td class="td-name">
                                <a href="#jacket">{{commande.lieuLivraison}}</a>
                            </td>
                            <td class="td-name">
                                <ul class="list-group list-group-flush" >
                                    <li class="list-group-item" *ngFor="let plat of commande.plats">{{plat.nom}} X {{plat.nbre}}</li>
                                </ul>
                            </td>
                            <td class="td-actions">
                                <button type="button" rel="tooltip" data-placement="left" title="Faire livrer" class="btn btn-neutral btn-just-icon" >
                                   <i class="now-ui-icons files_paper"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <nav>
            <ul>
                <li><a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                    <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
                    <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/about-us">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                        Blog
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy;
           Rajerison Lalao Zinah
        </div>
    </div>
</footer>
