<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-3">
            <nav class="nav flex-column">
                <a class="nav-link " href="/ekaly/livreurs">Gestion livreurs</a>
                <a class="nav-link active" href="/ekaly/restos">Gestion restos</a>
                <a class="nav-link" href="/ekaly/benefice">Benefice</a>
            </nav>
        </div>
        
        <div class="col-6">
            <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Nom Resto</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nom du resto" [(ngModel)]="resto.nomResto" name="resto.nomResto">
            </div> 
            <div class="form-group">
                <label for="exampleFormControlInput1">Adresse</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Adresse du resto" [(ngModel)]="resto.adresse" name="resto.adresse">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Details</label>
                <textarea type="text" class="form-control" id="exampleFormControlInput1" placeholder="Details" [(ngModel)]="resto.details" name="resto.details"></textarea>
            </div>
            <label> Logo</label>
            {{imageError}}
            <div class="custom-file fileInputProfileWrap">
                <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile" [(ngModel)]="resto.logo" name="resto.logo">
                <div class="img-space">
                    <ng-container *ngIf="isImageSaved; else elseTemplate">
                        <img [src]="cardImageBase64" width="50px"/>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <img src="assets/img/placeholder.png" class="img-responsive" width="50px">
                    </ng-template>
                </div>
            </div>
            <div width="200"></div>
            <div *ngIf="modif; then modifbtn else insertbtn"></div> 
            <ng-template #modifbtn>
                <button type="submit" class="btn"(click)="modifResto()">Modifier</button>
            </ng-template>
            <ng-template #insertbtn>
                <p> Informations Responsable provisoire</p>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Username</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Username" [(ngModel)]="resto.username" name="resto.username">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Mail</label>
                    <input type="mail" class="form-control" id="exampleFormControlInput1" placeholder="Mail" [(ngModel)]="resto.mail" name="resto.mail">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Mot de passe</label>
                    <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Mot de passe" [(ngModel)]="resto.mdp" name="resto.mdp">
                </div>
                <button type="submit" class="btn"(click)="ajouterResto()">Ajouter</button>
            </ng-template>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-shopping" ng-init="total=0">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th></th>
                        <th>Nom du resto</th>
                        <th>Adresse</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let resto of restos; let i=index">
                        <td>{{i+1}}</td>
                        <td>
                            <div class="img-space">
                                <img [src]="resto.logo" width="100px"/>
                            </div>
                        </td>
                        <td class="td-name">
                            <a href="#jacket">{{resto.nomResto}}</a>
                        </td>
                        <td class="td-name">
                            {{resto.adresse}} 
                        </td>
                        <td class="td-name">
                            {{resto.details}} 
                        </td>
                        <td class="td-actions">
                            <button type="button" rel="tooltip" data-placement="left" title="Effacer livreur" class="btn btn-neutral btn-just-icon" (click)="deleteResto(resto._id,i)">
                                <i class="now-ui-icons ui-1_simple-remove"></i>
                            </button>
                            <button type="button" rel="tooltip" data-placement="left" title="Modifier livreur" class="btn btn-neutral btn-just-icon" (click)="editResto(i)">
                               <i class="now-ui-icons files_paper"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <nav>
            <ul>
                <li><a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                    <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
                    <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/about-us">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                        Blog
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy;
           Rajerison Lalao Zinah
        </div>
    </div>
</footer>