<app-navbar></app-navbar>

<div class="wrapper">
    <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-3">
                <nav class="nav flex-column">
                    <a class="nav-link active" href="/resto/commande"> 
                        <i class="now-ui-icons shopping_cart-simple" aria-hidden="true"></i>
                         Gestion commandes
                     </a>
                     <a class="nav-link" href="/resto/plats">
                         <i class="now-ui-icons shopping_shop" aria-hidden="true"></i>
                         Gestion plats
                     </a>
                     <a class="nav-link" href="#">
                         <i class="now-ui-icons business_chart-bar-32" aria-hidden="true"></i>
                         Benefice
                     </a>
                </nav>
            </div>
            
            <div cdkDropListGroup>
                <div class="example-container">
                  <h2>Commande en cours</h2>
              
                  <div
                    cdkDropList
                    [cdkDropListData]="commandesEncours"
                    class="example-list"
                    cdkDropListSortingDisabled
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of commandesEncours" cdkDrag>
                        <div class="card" style="width: 20rem;">
                          {{item.lieuLivraison}}
                            <ul class="list-group list-group-flush" >
                              <li class="list-group-item"*ngFor="let plat of item.plats">{{plat.nom}} X{{plat.nbre}}</li>
                            </ul>
                          </div>
                    </div>
                  </div>
                </div>
              
                <div class="example-container">
                  <h2>Commande a livrer</h2>
              
                  <div
                    cdkDropList
                    [cdkDropListData]="commandesAlivrer"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of commandesAlivrer" cdkDrag>
                        <div class="card" style="width: 20rem;">
                          {{item.lieuLivraison}}
                            <ul class="list-group list-group-flush" >
                              <li class="list-group-item"*ngFor="let plat of item.plats">{{plat.nom}} X {{plat.nbre}}</li>
                            </ul>
                          </div>
                    </div>
                  </div>
                </div>
              </div>  
          </div>
        </div>
    </div>
</div>

<footer class="footer">
  <div class="container">
      <nav>
          <ul>
              <li><a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                  <a href="https://www.creative-tim.com/about-us">
                      About Us
                  </a>
              </li>
              <li>
                  <a href="http://blog.creative-tim.com">
                      Blog
                  </a>
              </li>
          </ul>
      </nav>
      <div class="copyright">
          &copy;
         Rajerison Lalao Zinah
      </div>
  </div>
</footer>

